{% if content | toc %}
<aside class="toc">
  <div class="toc__content">
    <h2 class="L4 toc__header">In this article</h2>
  </div>
  <web-scroll-spy>
  {{ content | toc | safe }}
  </web-scroll-spy>
</aside>

{% endif %}