
.toc {
  --toc-vert-space: 8px;
  padding: 10px;
  border-left: 4px solid var( --color-border);
  z-index: 1;
  background-color: var(--color-background);

  @media (--viewport-medium) { 
    position: sticky;
    top: clamp(20px, 18px, 24px);
    max-height: 90vh;
  }
}


.toc a {
  background-image: linear-gradient(transparent 0, var(--color-bg-links-highlight) 0);
  background-position-y: 1.5em;
  background-repeat: no-repeat;
  transition: background-position .25s ease-in-out;
}

.toc .w-scroll-spy__active, .toc .toc__active,
.toc a:hover,
.toc a:active,
.toc a:focus {
  background-position: 0;
  color: var(--color-text-links-highlight);
  text-decoration: none;
  font-weight: 600;
  padding: 0 0.3em;
}

.L4.toc__header {
  margin-bottom: 20px;

  @media (--viewport-medium) { }
}

.toc__list ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 14px;
}

.toc__list li {
  padding-block: calc(var(--toc-vert-space) / 2);
  position: relative;
}

.toc__list ul ul {
  margin-block: var(--toc-vert-space);
}

.toc__list ul ul li {
  padding-inline-start: 15px;
  border-inline-start: 1px solid var(--color-border);

  &:last-of-type {
    margin-block-end: calc(var(--toc-vert-space) * -1);
  }
}

.toc__list ul ul li .w-scroll-spy__active::before,
.toc__list ul ul li .toc__active::before {
  content: '';
  display: block;
  width: 3px;
  height: 100%;
  position: absolute;
  inset: 0 auto 0 -1px;
  background: var(--color-links-highlight);
}