<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="canonical" href="https://danielavalero.com" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="description" content="{{ title or renderData.description or metadata.description }}">
  <meta property="og:title" content="Daniela Valero's site - {{ title or renderData.title or metadata.title }}" />
  <meta property="og:url" content="https://danielavalero.com" />
  <meta property="og:description" content="{{ title or renderData.description or metadata.description }}" />
  <meta property="og:image" content="https://danielavalero.com/static/img/layout/colores.jpg"/>
  <meta property="og:site_name" content="Daniela's blog" />
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@danielavalero_">
  <meta name="twitter:title" content="Home page of danielavalero.com - the site of the frontend architect and others Daniela Valero">
  <meta name="twitter:description" content="{{ title or renderData.description or metadata.description }}">
  <meta name="twitter:url" content="https://danielavalero.com">
  <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
  <link rel="apple-touch-icon" sizes="180x180" href="/static/icons/apple-touch-icon.png?v=1">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/icons/favicon-32x32.png?v=1">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/icons/favicon-16x16.png?v=1">
  <link rel="manifest" href="/static/icons/site.webmanifest?v=1">
  <link rel="mask-icon" href="/static/icons/safari-pinned-tab.svg?v=1" color="#a54459">
  <link rel="shortcut icon" href="/static/icons/favicon.ico?v=1">
  <meta name="msapplication-TileColor" content="#a54459">
  <meta name="theme-color" content="#ffffff">
  <link rel="webmention" href="https://webmention.io/danielavalero.com/webmention" />
  <link rel="pingback" href="https://webmention.io/danielavalero.com/xmlrpc" />
  <link rel="authorization_endpoint" href="https://indieauth.com/auth">
  <link rel="token_endpoint" href="https://tokens.indieauth.com/token">
  
  <title>{{ title or renderData.title or metadata.title }}</title>
  {% set css %}
    {% include "assets/inline/inline.css" %}
  {% endset %}
  <style nonce="bmFuaS1pbmxpbmVjc3M=">{{ css | postCSS | cssmin | safe }}</style>
  <link rel="stylesheet" href="/css/styles.css">

  {# <link rel="stylesheet" href="/css/main.css"> #}
</head>
