---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - footerNav
    - post
    - posts
permalink: /tags/{{ tag }}/
layout: layouts/base.njk
renderData:
  title: "Tagged “{{ tag }}”"
---

<h1 class="L3">Tagged “{{ tag }}”</h1>

{% set posts = collections[ tag ] %}
{% include "components/blog/postsList.njk" %}

{% include "components/navigation/backLink.njk" %}
{% include "components/newsletter/newsletter.njk" %}