<nav class="navigation">
  <ul class="navigation_list">
  {%- for footerNav in collections.footerNav -%}
    <li class="navigation_listItem">
      <a 
        class="link-brutal link-brutal-none-to-all display navigation_link"
        {% if footerNav.url == page.url %} data-current="true"{% endif %}
        href="{{ footerNav.url | url }}">
          {{ footerNav.data.navtitle }}
        </a>
    </li>
  {%- endfor -%}
  </ul>
</nav>
