.nav-item.pdf,
.pdf-link {
  position: relative;
}

.pdf-info {
  position: absolute;
  bottom: -13px;
  font-size: 12px;
  width: 108px;

  line-height: 1;
  right: -7px;

  @media (--viewport-medium) {
    right: -23px;
  }
}

.navigation_link:focus ~ .pdf-info,
.pdf:focus  ~.pdf-info,
.navigation_link:hover ~ .pdf-info,
.pdf:hover ~ .pdf-info {
  display: block;
}

@media (--viewport-medium) {
  .pdf-link .pdf-info,
  .navigation_link ~ .pdf-info {
    display: none;
  }
}

