<nav class="navigation">
  <ul>
  {%- for nav in collections.nav -%}
    <li>
      <a 
        class="link-brutal link-brutal-none-to-all display navigation_link"
        {% if nav.url == page.url %} data-current="true"{% endif %}
        href="{{ nav.url | url }}">
          {{ nav.data.navtitle }}
        </a>
    </li>
  {%- endfor -%}
  <li class="nav-item pdf">
      
      <a aria-describedby="pdf-info" class="link-brutal link-brutal-none-to-all pdf display navigation_link" 
      {% if nav.url == page.url %} data-current="current item"{% endif %}
      target="_blank" 
      href="/static/files/resume-Daniela-Valero.pdf">Resume</a>
      <span role="tooltip" id="pdf-info" class="pdf-info">Opens PDF file</span>
       
    </li>
  </ul>
</nav>
