.card {
  /** position styles here - color and pretty styles in blockCard */
  box-sizing: border-box;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  flex-flow: column;
  height: min-content;
  padding: 15px 20px;
  break-inside: avoid;
  margin-bottom: 10px;
  font-size: 22px;
  line-height: 1.4;

  @supports (grid-template-rows: masonry) {
    margin-bottom: 0;
  }

  @media (--viewport-big) {
    padding: 10px 20px;
  }
}


.card a:focus,
.card a:hover {
  text-decoration: none;
}


@media (--viewport-big) {
  .card {
    font-size: 17px;
    line-height: 1.3;
  }

  @supports (grid-template-rows: masonry) {
    .card:nth-child(6n - 5) {
      font-size: 17px;
      line-height: 1.3;
    }

    .card:nth-child(6n-4) {
      font-size: 12px;
      line-height: 1.5;
      grid-column-end: span 2;
    }

    .card:nth-child(6n-3) {
      font-size: 16px;
      line-height: 1.3;
    }

    .card:nth-child(6n-2) {
      font-size: 23px;
      line-height: 1.2;
      grid-column-end: span 2;
    }

    .card:nth-child(6n-1) {
      font-size: 14px;
      line-height: 1.4;
      grid-column-end: span 2;
    }

    .card:nth-child(6n) {
      font-size: 16px;
      line-height: 1.3;
    }
  }
}


.card_title {
  align-self: center;
  line-height: inherit;
  margin-bottom: 10px;
  word-break: break-word;
}

.card_tags {
  display: inline-block;
  align-self: flex-end;
  text-align: right;
}

.card_metadata {
  display: inline-block;
  margin-bottom: 5px;
}

.card_metadata--smaller {
  margin-bottom: 0;

  @media (--viewport-medium) {
    margin-bottom: -5px;
  }
}