

<article class="card h-entry blockCard smallInteraction" {% if post.url == url %} data-current="current item" {% endif %}>
  {% include "components/blog/blogDescriptiveTag.njk" %}
  <div class="card_metadata caption">
    <time class="dt-published" datetime="{{ post.date | machineDate }}">
      <small>{{ post.date | readableDate }} by <a href="../.." rel="author" class="h-card p-author">{{ metadata.author.name }}</a></small>
    </time>
  </div>

  <a class="u-url" href="{{ post.url | url }}" aria-describedby="{{post.data.title | slug }}">
    <h3 id="{{post.data.title | slug }}" class="p-name card_title L5">
      {{ post.data.title }}
    </h3>
  </a>


    {% if post.data.tags %}
      <div class="card_tags">
        {% for tag in post.data.tags %}
        {%- if tag != "post" -%}
        {% set tagUrl %}/tags/{{ tag }}/{% endset %}
        <a class="p-category tagLink" href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
        {%- endif -%}
        {% endfor %}
      </div>
  {% endif %}
</article>
