<footer class="footer">
  <div class="footer_left">
    {% include "components/footer/socialNetworks.njk" %}
    {% include "components/switch/switch.njk" %}
  </div>

   <div class="footer_right">
    {% include "components/navigation/footerNav.njk" %}
   </div>


 <p class="footer_greenNote">This website produces 0.01g of CO2 every time someone visits this web page, and that is 98% cleaner than average. It also runs on green enegery.
  <a href="https://www.websitecarbon.com/website/danielavalero-com/" target="_blank">More info</a>. The source code of this repo is <a href="https://gitlab.com/DanielaValero/personal-site" target="_blank">here.</a>
 </p>
</footer>