.footer {
  width: 100%;
  padding: 1em 0;
  border-top: var(--border-width-m) solid var(--color-border);
  flex-direction: column;
  flex-wrap: wrap;

  .footer_greenNote {
    order: 3;
    width: 100%;
    font-size: 12px;
    margin-top: 25px;
  }

  fieldset {
    align-self: flex-start;
    justify-self: start;
    padding: 0;
    margin-top: 20px;
  }

  .footer_right .navigation_list {
    display: flex;
    flex-direction: row;
    order: 1;
  }

  .navigation_listItem {
    margin-right: 15px;
  }

  .footer_left {
    order: 2;
    margin-top: 20px;
  }

  @media (--viewport-medium) { 
     /* flex layout in layouts.css */
     flex-direction: row;
    
    .caption {
      width: 400px;
      padding-left: 14px;
      margin-top: 20px;
    }

    fieldset {
      align-self: flex-end;
      justify-self: end;
    }

    .footer_left {
      order: 1;
      margin-top: 0;
    }

    .footer_right {
      order: 2;
      flex-direction: row;
      align-self: flex-start;
    }
  }
}
