:root {
  --icon-size: 25px;
}

.about_socialNetworks {
  &:first-child {
    margin-left: 0;
  }
}

.socialNetworks_list {
  margin: 0 -16px 0 0;

  @media (--viewport-medium) {
    margin-top: 10px;
  }
}

.socialNetworks_listItem {
  display: inline-block;
  margin: 0 .5em;
  height: calc(var(--icon-size) + 10);
  width: calc(var(--icon-size) + 10);

  svg {
    fill: var(--color-body-text);
    height: var(--icon-size);
    width: var(--icon-size);
    vertical-align: text-top;
    padding: 2px;
  }

  a:hover svg {
    fill: var(--color-text-links-highlight);
  }
}

[data-theme="dark"] {
  .socialNetworks_listItem svg {
    fill: var(--color-highlight);
  }
}

.socialNetworks_listItem a {
  display: flex;
}
.socialNetworks_listItem a::hover {
  text-decoration: none;
}

.socialNetworks_listItem a[data-current="current item"] {
  text-decoration: underline;
}