<nav class="socialNetworks">
  <ul class="socialNetworks_list">
    <li class="socialNetworks_listItem">
      <a class="link-brutal link-brutal-none-to-all socialNetworks--github" target="_blank" rel="me noopener noreferrer" href="https://github.com/DanielaValero">
       <svg role="presentation" viewBox="0 0 48 47" xmlns="http://www.w3.org/2000/svg"><path d="M23.999 0C10.746 0 0 10.787 0 24.097 0 34.74 6.876 43.772 16.414 46.958c1.2.222 1.639-.522 1.639-1.16 0-.573-.021-2.088-.034-4.098-6.676 1.456-8.085-3.23-8.085-3.23-1.09-2.784-2.664-3.525-2.664-3.525-2.179-1.495.166-1.465.166-1.465 2.407.17 3.675 2.483 3.675 2.483 2.142 3.683 5.617 2.62 6.985 2.002.217-1.557.838-2.619 1.524-3.221-5.33-.609-10.932-2.675-10.932-11.908 0-2.63.934-4.781 2.47-6.466-.247-.61-1.07-3.059.235-6.377 0 0 2.016-.647 6.6 2.47 1.915-.534 3.967-.801 6.008-.811 2.039.01 4.092.277 6.01.811 4.58-3.117 6.592-2.47 6.592-2.47 1.31 3.318.486 5.767.238 6.377 1.54 1.685 2.468 3.835 2.468 6.466 0 9.256-5.612 11.293-10.958 11.89.861.744 1.63 2.213 1.63 4.462 0 3.22-.03 5.819-.03 6.61 0 .644.432 1.394 1.65 1.157C41.13 43.763 48 34.738 48 24.097 48 10.787 37.254 0 23.999 0" fill-rule="evenodd"/></svg>
        <span class="sr-only">
          My Github: danielavalero
        </span>
      </a>
    </li>
    <li class="socialNetworks_listItem">
      <a class="link-brutal link-brutal-none-to-all socialNetworks--linkedin" href="https://www.linkedin.com/in/daniela-valero-bb508423/"  target="_blank" rel="noopener noreferrer">
      <svg  role="presentation" viewBox="0 0 44 40" xmlns="http://www.w3.org/2000/svg"><path d="M44 40h-9.725V25.938c0-3.68-1.52-6.193-4.866-6.193-2.558 0-3.981 1.696-4.643 3.33-.249.586-.21 1.403-.21 2.22V40h-9.634s.124-24.909 0-27.173h9.634v4.265c.57-1.865 3.648-4.526 8.56-4.526C39.211 12.566 44 16.474 44 24.89V40zM5.18 9.428h-.063C2.013 9.428 0 7.351 0 4.718 0 2.034 2.072 0 5.239 0c3.164 0 5.11 2.029 5.171 4.71 0 2.633-2.007 4.718-5.23 4.718zm-4.07 3.399h8.576V40H1.11V12.827z" fill-rule="evenodd"/></svg>
        <span class="sr-only">
          My profile on Linkedin
        </span>
      </a>
    </li>
     <li class="socialNetworks_listItem">
      <a class="link-brutal link-brutal-none-to-all interactive" href="https://danielavalero.com/feed/feed.xml" target="_blank" rel="noopener noreferrer">
      <svg  role="presentation" viewBox="0 0 44 44" xmlns="http://www.w3.org/2000/svg"><path d="M0 37.714a6.286 6.286 0 1 1 12.572 0 6.286 6.286 0 0 1-12.572 0zM44 44h-8.38C35.62 24.359 19.642 8.38 0 8.38V0c24.261 0 44 19.739 44 44zm-14.666 0h-8.38c0-11.553-9.401-20.952-20.954-20.952v-8.382c16.175 0 29.334 13.16 29.334 29.334z" fill-rule="evenodd"/></svg>
        <span class="sr-only">
          Get my blog posts in your RSS reader
        </span>
      </a>
    </li>
    <li class="socialNetworks_listItem">
      <a class="link-brutal link-brutal-none-to-all socialNetworks--spotify" href="https://open.spotify.com/user/1146268311" target="_blank" rel="me noopener noreferrer">
      <svg role="presentation" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M12 0C5.4 0 0 5.4 0 12s5.4 12 12 12 12-5.4 12-12S18.66 0 12 0zm5.521 17.34c-.24.359-.66.48-1.021.24-2.82-1.74-6.36-2.101-10.561-1.141-.418.122-.779-.179-.899-.539-.12-.421.18-.78.54-.9 4.56-1.021 8.52-.6 11.64 1.32.42.18.479.659.301 1.02zm1.44-3.3c-.301.42-.841.6-1.262.3-3.239-1.98-8.159-2.58-11.939-1.38-.479.12-1.02-.12-1.14-.6-.12-.48.12-1.021.6-1.141C9.6 9.9 15 10.561 18.72 12.84c.361.181.54.78.241 1.2zm.12-3.36C15.24 8.4 8.82 8.16 5.16 9.301c-.6.179-1.2-.181-1.38-.721-.18-.601.18-1.2.72-1.381 4.26-1.26 11.28-1.02 15.721 1.621.539.3.719 1.02.419 1.56-.299.421-1.02.599-1.559.3z"/></svg>
        <span class="sr-only">
          What I am listenting in Spotify
        </span>
      </a>
    </li>
    <li class="socialNetworks_listItem">
      <a class="link-brutal link-brutal-none-to-all socialNetworks--email" href="mailto:hola@danielavalero.com" target="_blank" rel="me noopener noreferrer">
      <svg role="presentation" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M0 76v360h512V76H0zm456.953 30L256 281.104 55.047 106h401.906zM30 123.967l151.624 132.12L30 388.058V123.967zM55.081 406l149.378-130.016L256 320.896l51.542-44.912L456.919 406H55.081zM482 388.059L330.376 256.087 482 123.967v264.092z"/></svg>
        <span class="sr-only">
          Send me an email 
        </span>
      </a>
    </li>
 <li class="socialNetworks_listItem">
      <a class="link-brutal link-brutal-none-to-all socialNetworks--devto" href="https://dev.to/danielavalero"  target="_blank" rel="me noopener noreferrer">
      <svg role="presentation" xmlns="http://www.w3.org/2000/svg" version="1" viewBox="0 0 132 65"><path d="M0 33v32h11.3c12.5 0 17.7-1.6 21.5-6.5 3.8-4.8 4.4-9 4-28-.3-16.8-.5-18.2-2.7-21.8C30.3 2.5 26.1 1 12 1H0v32zm23.1-19.1c2.3 1.9 2.4 2.3 2.4 18.5 0 15.7-.1 16.7-2.2 18.8-1.7 1.6-3.5 2.2-7 2.2l-4.8.1-.3-20.8L11 12h4.9c3.3 0 5.6.6 7.2 1.9zm23-10.3c-2 2.6-2.1 3.9-2.1 29.6v26.9l2.5 2.4c2.3 2.4 2.9 2.5 16 2.5H76V54.1l-10.2-.3-10.3-.3v-15l6.3-.3 6.2-.3V27H55V12h21V1H62.1c-13.9 0-14 0-16 2.6zM87 15.2c2.1 7.9 5.5 20.8 7.6 28.8 3.2 12.3 4.3 15 7 17.7 1.9 2 4.2 3.3 5.7 3.3 3.1 0 7.1-3.1 8.5-6.7 1-2.6 15.2-55.6 15.2-56.8 0-.3-2.8-.5-6.2-.3l-6.3.3-5.6 21.5c-3.5 13.6-5.8 20.8-6.2 19.5C105.9 40 96 1.9 96 1.4c0-.2-2.9-.4-6.4-.4h-6.4L87 15.2z"/></svg>
        <span class="sr-only">
          Older posts in dev.to: @danielavalero 
        </span>
      </a>
    </li>



  </ul>
</nav>