
.blockCard {
  display: block;
  border-radius: 3px;
  padding: 8px 8px;
  font-weight: bold;
  box-sizing: border-box;
  position: relative;
  top: -2px;
  left: -2px;
  transition: transform 0.2s;
  margin: 8px 6px 10px 6px;
  z-index: 1;
  color: var(--color-blockCard-text-color);

  &::before {
    content: "";
    background-color: var(--color-blockCard-background-color);
    border: var(--border-width-xs) solid var(--color-blockCard-boder-color);
    border-radius: 3px;
    box-sizing: border-box;
    position: absolute;
    top: -3px;
    left: -3px;
    height: calc(100% + 6px);
    width: calc(100% + 6px);
    z-index: -1;
  }
  
  &::after {
    content: "";
    display: block;
    box-sizing: border-box;
    border: var(--border-width-xs) solid var(--color-blockCard-boder-color);
    border-radius: 3px;
    height: calc(100% + 6px);
    width: calc(100% + 6px);
    position: absolute;
    top: 3px;
    left: 3px;
    right: 0;
    z-index: -2;
    transition: transform 0.2s;
  }

  &.smallInteraction {
    cursor: pointer;

    &:hover,
    &:focus-within {
      transform: translate(2px, 2px);
    }

    &:focus-within:after {
      transform: translate(-2px, -3px);
    }
  }
}

[data-theme="dark"] .blockCard::before {
  filter: contrast(0.5);
}




