.button {
  background-color: var(--color-highlight);
  padding: 10px;
  cursor: pointer;
  border: 1px solid var(--color-border);

  &:hover {
    font-weight: bold;
  }
  
}

input {
  border: 1px solid var(--color-border);
  padding: 5px;
}