
.o-grid,
.o-subgrid {
  display: grid;
  grid-column-gap: var(--gutter-unit);
}

.o-grid {
  grid-template-columns: repeat(var(--grid-columns), [col-start] var(--column-unit)); 
  width: var(--container-width);
  margin: 0 auto;
  height: 100%;

  @media (--viewport-medium) { 
    width: var(--container-width);
  }
}

.o-subgrid {
  grid-template-columns: repeat(10, [col-start] var(--column-unit)); 
}

.o-partial-grid {
  width: columnspans(8);
  display: grid;
  grid-template-columns: repeat(8, [col-start] var(--column-unit)); 
  grid-column-gap: var(--gutter-unit);
  justify-content: center;
}

.o-span-12 {
  width: calc(12 * var(--column-and-gutter-unit) - var(--gutter-unit));
}