/** aspect ratio of first image of a post 
    and cards in post list
**/
@custom-selector :--post-image .post .e-content .u-photo;

:--post-image {
  height: auto;
  position: relative;
}

/** aspect ratio of first image of a post **/
:--post-image:first-child::before {
  content: "";
  display: block;
  padding-bottom: calc(100% / (25/8));
}


/* :--post-image:first-child img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  aspect-ratio: 25 / 8;
} */
