.header,
.main,
.footer,
body {
  width: 100%;
}

body {
  height: auto;
  overflow-wrap: break-word;
  padding-inline: calc((var(--fontSize) / 2) + 1px);
  margin: 0 auto;
  position: relative;
  min-height: 100% !important;
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
}

body.section-home {
  height: 100%;
}

.footer {
  justify-self: end;
}

img {
  max-width: 100%;
}

@media (--viewport-medium) {
  .mobile-only {
    display: none;
  }
}

.header,
.footer {
  max-width: var(--container-width);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header,
.main,
.footer {
  grid-column: col-start 1/ -1;
  
  @media ( --viewport-small) {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.main { 
  margin-top: 20px;
  margin-bottom: 40px;

  @media (--viewport-medium) {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

.section-home { 
  @media (--viewport-medium) {
    padding-top: 0;
  }
}



.section-blog .main,
.section-page .main,
.section-speaking .main {
  .L1 {
    margin-left: -2px;
  }
  
  @media (--viewport-medium) {
    grid-column: col-start 1/span 12;
    margin-bottom: 20px;

    .L1 {
      margin-bottom: 30px;
    }
  }
}


