
.layoutCard {
  display: flex;
  flex-direction: column;
  max-width: var(--container-width);
  margin: 0 auto;

  @media (--viewport-medium) {
    flex-direction: row;
  }
}

@media (--viewport-medium) {
  .layoutCard_image {
    width: 40%;
  }
}

.layoutCard_content {
 
  p + h2 {
    margin-top: 20px;
  }

  @media (--viewport-medium) {
    width: 60%;
    padding-top: 35px;
    padding-left: 35px;
    margin-top: -44px;
    p + h2 {
      margin-top: 50px;
    }
   }
}