

.link-brutal {
  color: var(--color-body-text);
  background-image: linear-gradient(transparent 0, var(--color-bg-links-highlight) 0);
  /* background-position-y: .85em; */
  background-position-y: 1.4em;
  
  background-repeat: no-repeat;
  transition: background-position .25s ease-in-out;
  text-decoration: none;
  padding: 0.125em;
  margin: -0.125em;

  &:focus,
  &:active,
  &:hover,
  &:focus-within,
  &[data-current="true"] {
    background-position: 0;
    color: var(--color-text-links-highlight);
    outline: transparent;
    text-decoration: none;
  }
}

.link--inline,
p > a {
  color: var(--color-text-inline-links);
  font-weight: 800;

  &:hover {
    text-decoration: underline;
  }
}


.link-brutal-none-to-all {
  transition: background-position .200s ease-in-out, background-image .200s ease-in;
  background-image: linear-gradient(transparent 0, var(--color-background) 0);
  margin: 0;

  &:focus,
  &:focus-within,
  &:active,
  &:hover,
  &[data-current="true"] {
    background-image: linear-gradient(transparent 0, var(--color-bg-links-highlight) 0);
    color: var(--color-text-links-highlight);
  }
}

