/*

Name:       Base16 Eighties Dark
Author:     Chris Kempson (http://chriskempson.com)

Prism template by Bram de Haan (http://atelierbram.github.io/syntax-highlighting/prism/)
Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/
code[class*="language-"],
pre[class*="language-"] {
  font-size: 14px;
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  background: #2d2d2d;
  color: #d3d0c8;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #a09f93;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
  text-shadow: none;
  background: #a09f93;
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: 10px 0 40px;
  overflow: auto;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #747369;
}

.token.punctuation {
  color: #d3d0c8;
}

.token.namespace {
  opacity: .7;
}

.token.operator,
.token.boolean,
.token.number {
  color: #f99157;
}

.token.property {
  color: #ffcc66;
}

.token.tag {
  color: #6699cc;
}

.token.string {
  color: #66cccc;
}

.token.selector {
  color: #cc99cc;
}

.token.attr-name {
  color: #f99157;
}

.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #66cccc;
}

.token.attr-value,
.token.keyword,
.token.control,
.token.directive,
.token.unit {
  color: #99cc99;
}

.token.statement,
.token.regex,
.token.atrule {
  color: #66cccc;
}

.token.placeholder,
.token.variable {
  color: #6699cc;
}

.token.deleted {
  text-decoration: line-through;
}

.token.inserted {
  border-bottom: 1px dotted #f2f0ec;
  text-decoration: none;
}

.token.italic {
  font-style: italic;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.important {
  color: #f2777a;
}

.token.entity {
  cursor: help;
}

pre > code.highlight {
  outline: 0.4em solid #f2777a;
  outline-offset: .4em;
}

.line-numbers .line-numbers-rows {
  border-right-color: #393939 !important;
}

.line-numbers-rows > span:before {
  color: #515151 !important;
}

.line-highlight {
  background: rgba(242, 240, 236, 0.2) !important;
  background: -webkit-linear-gradient(left, rgba(242, 240, 236, 0.2) 70%, rgba(242, 240, 236, 0)) !important;
  background: linear-gradient(to right, rgba(242, 240, 236, 0.2) 70%, rgba(242, 240, 236, 0)) !important;
}