@keyframes SkeletonAnimation {
  0% {
      background-position: 0 50%;
  }
  50% {
      background-position: 100% 50%
  }
  100% {
      background-position: 0 50%;
  }
}

.skeleton {
  display: block;
  background: linear-gradient(270deg, #D8D8D8 0%, #eeeeee 100%);
  background-size: 200% 200%;
  animation: SkeletonAnimation 1.5s infinite;
}

