*, *:before, *:after {
  box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0;
	height: 100%;
}

body {
	height: 100vh;
}

p,
pre,
code {
	line-height: 1.5;
}

a[href]:not(:hover) {
	text-decoration: none;
}

pre {
	font-size: 14px;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	-moz-tab-size: 2;
	tab-size: 2;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	padding: 1em;
	margin: .5em 0;
}

ul {
	padding: 0;
	list-style: none;
}

header,
	main,
	footer {
		padding-left: 1em;
		padding-right: 1em;
	}

@media screen and (min-width:768px) {
	:root {
		font-size: 1.1rem;
	}

	header,
	main,
	footer {
		padding-left: 0;
		padding-right: 0;
	}
	
}
