<!-- This is a CSS Only Masonry layout following this technique:
https://www.smashingmagazine.com/native-css-masonry-layout-css-grid/
-->
  {% for post in posts | reverse %}
    {% include "components/card/card.njk" %}
  {% endfor %}
