<script type="application/ld+json">
      {
        "@context" : "http://schema.org",
        "@type" : "Article",
        "author" : {
          "@type" : "Person",
          "name" : "Daniela Valero"
        },
        "headline": "{{ post.data.title }}",
        "publisher": "Daniela Valero",
        "mainEntityOfPage": {
          "@type": "WebPage",
          "@id": "https://danielavalero.com"
        },
        "datePublished" : "{{ post.date | readableDate }}",
        "dateModified" : "{{ post.date | readableDate }}",
        "image" : "{{ post.data.featuredimage}}",
        "articleSection" : "{{ post.data.summary }}",
        "url" : "{{ post.url | url }}"
      }
      </script>