.postWrapper {
  display: flex;
  flex-direction: column;
  margin-top: 20px;

  .post + .toc {
    display: none;
  }

  .post .toc {
    margin-bottom: 20px;
  }

  @media (--viewport-medium) { 
    flex-direction: row;

    .post .toc {
      display: none;
    }

    .postWithToc {
      width: 80%;
    }
    .post + .toc {
      display: block;
      width: 20%;
    }
  }
}


.postWrapper .toc {
  @media (--viewport-medium) {
    margin-right: 30px;
    margin-top: 20px;
  }
}


.section-post .backLink,
.postWrapper {
  grid-column: 1 / span 2;
}


.section-post .main,
.section-blog .main {
  @media (--viewport-medium) {
    grid-column: col-start 1/span 12;
  }
}


.postList {
  margin-top: 0;
  column-count: 1;
  gap: 10px;
  
  .card {
    margin-bottom: 25px;
  }


  @media (--viewport-medium) { 
    display: flex;
    flex-wrap: wrap;

    .card {
      width: 30%;
      margin-right: 30px;
    }

    @supports (grid-template-rows: masonry) {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 15px;
      grid-template-rows: masonry;
      grid-auto-flow: dense;
      
    .card:nth-child(even),
    .card:nth-child(odd) {
      width: 100%;
      }
    }
  }
}


.syndication .caption {
  font-weight: bold;
}

.post_metadata {
  margin: 0;
  margin-bottom: 20px;
}

.postList_headline {
  margin-bottom: 0;
  grid-column: col-start / col-end;

  @media (--viewport-medium) {
    margin-bottom: 10px;
  }
}

[data-theme="dark"] .post blockquote::after {
  filter: contrast(0.5);
}

.post {
  font-family: var(--type-post-body);
  width: 100%;
  order: 2;

  @media (--viewport-medium) { 
    order: 1;
  }


  .u-photo {
    @media (--viewport-medium) { 
      display: flex;
      margin-bottom: 40px;
      align-content: center;
      justify-content: center;
    }

    > img {
      margin: 0 auto;
    }
  }

  p + .u-photo {
    width: 100%;
    position: relative;
    left: auto;
    right: auto;
    margin-left: auto;
    margin-right: auto;
  }
  
  /* caption for image */
  .u-photo + p > em {
    font-weight: 400;
    font-size: 12px;

    @media (--viewport-medium) {  
      margin-top: -30px;
      display: block;
    }
  }

  blockquote {
    margin: 20px auto;
    width: fit-content;
    font-style: italic;
    padding: 1.2em 20px 1.2em;
    line-height: 1.6;
    position: relative;
    background: transparent;
    border-left: 5px solid var(--color-border);
    background-color: transparent;
    border-right: 5px solid var(--color-border);
    color: var(--color-text-blockquote);

    @media (--viewport-medium) {
      max-width: 80%;
      padding: 1.2em 56px 1.2em;
    }

    &::after {
      /** Add filter for background of the quote */
      content: "";
      width: 100%;
      height: 100%;
      background-color: var(--color-bg-blockquote); 
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }

    &::before {
      /** add closing "" */
      content: "\201C";
      left: 10px;
      top: -10px;
      font-size: 4em;
      color: var(--color-quote-sign);
    }

    & p:after {
      content: "\201D" !important;
      right: 26px;
      top: -7px;
      font-size: 3em;
      color: var(--color-quote-sign)
    }

    &::before,
    & p:after {
      font-family: Arial;
      position: absolute;
    } 

   p ~ ol, p ~ ul {
      margin-top: 0;
    }
    p {
      padding: 15px;
      margin: 0;
    }

    a {
      display: block;
      text-align: right;
      font-weight: bold;
    }
  }

   p,  ul,  ol {
    color: var(--color-body-text);
    margin-bottom: 30px;
  }

  h1,h2,h3,h4,h5,
  strong { 
    margin-bottom: 40px;
    
  }

  em {
    font-style: normal;
    font-weight: 600;
    color: var(--color-body-text);
  }


  ol li::marker {
    font-weight: bold;
  }

  ol li {
    text-indent: 10px;
  }

  ul {
    margin-left: 25px;
    list-style: disc;
  }

  ul li {
    text-indent: 5px;
  }

  p ~ ol,
  p ~ ul {
    margin-top: -25px;
  }

  hr {
    border: 1px solid var(--color-primary);
    margin: 30px auto;
  }
}