<h1 class="p-name post_title L1">{{ title }}</h1>
  <a class="hidden u-url" href="./">{{ title }}</a>
  <p class="post_metadata caption">
    <small>
      <time class="dt-published" datetime="{{ date | machineDate }}">{{ date | readableDate }}</time>  by <a href="../.." rel="author" class="h-card p-author">{{ metadata.author.name }}</a>
      <br/> <span> {{ layoutContent | readingTime }} reading time</span>
    </small>
  </p>