{%if syndicationLink %}
  <div class="syndication">
    <span class="caption">Also posted to 
    <a rel="external syndication" class="caption u-syndication" href="{{syndicationLink}}">{{syndicationTitle}}</a>
  </div>
  {% endif%}