.header {
  width: 99vw;
  padding: 28px 10px 28px 5px;
  border-bottom: var(--border-width-m) solid var(--color-border);
  position: relative;
  
.skip-link-header {
  position: absolute;
  bottom: 0;
}

  .header_name {
    line-height: 1;
  }

  .navigation {
    justify-self: end;
  }

  ul {
    display: flex;
    margin: 0;
    flex-direction: column;
  }

  nav li {
    display: block;
    margin: 0 0 5px 0;
    text-align: left;
  }

  .header_name {
    width: auto;
    font-size: 26px;
    align-self: center;
  }

  @media (--viewport-medium) {
    width: 100%;
    padding: 4em 0 1em;
    /* flex layout in layouts.css */
    flex-direction: row;
    nav li {
      margin: 0 .5em;
      display: inline-block;
      text-align: center;
    }

    ul {
      flex-direction: row;
    }
  }
}