<header class="header">
  <a class="skip-link-header sr-only" href="#maincontent">Skip to main content</a>
  <span class="header_name"><a class="L1 link-brutal link-brutal-none-to-all display L6-m" href="{{ '/' | url }}">{{ metadata.title }}</a></span>
  {% include "components/navigation/headerNavigation.njk" %}
</header>