/* Webmention Section */

.webmentions {
  display:block;
  text-align: left;
  margin: 40px 0 40px;
}
.webmentions__facepile {
  display:flex;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 8px;
  margin-bottom: 1em;
}
.webmentions__facepile > p {
  float: left;
  margin: 0 28px 0 -8px;
}
.webmentions__facepile__hedlg {
  min-width: 180px;
}
.webmentions__facepile > a {
  margin-left: 13px;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: var(--border-width-xs) solid #fff;
  line-height: 1;
  overflow: hidden;
  box-sizing: content-box;
}
.webmentions__facepile > a:hover {
  position: relative;
  z-index: 1;
}
.webmentions__face {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  flex: none;
}

@supports (object-fit: cover) {
  .webmentions__face {
      object-fit: cover;
      height: 100%;
      width: 100%;
  }
}

.webmentions__list {
  list-style-type: none;
  padding:0;
}
.webmentions__list.webmentions__list.webmentions__list {
  padding:0;
}
.webmentions__item {
  margin-bottom: 1rem;
}

/* Single Webmention */
.webmention {
  display:block;
}
.webmention__meta,
.webmention__author {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.webmention__meta {
  margin-bottom:.5rem;
}
.webmention__author {
  margin-right:.25rem;
}
.webmention__author__photo {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  object-fit: cover;
  margin-right:.5rem;
}
.webmention__pubdate {
  font-style: italic;
}

/* Webmention form */
.form-webmention {
  margin-bottom: 2rem;
}
.form-webmention label {
  display: block;
}
.form-webmention input {
  height: 2rem;
}
.form-webmention input[type="url"] {
  width: calc(100% - 13em);
  max-width: 30em;
}
.form-webmention [type="submit"] {
  -webkit-appearance: none;
  margin-left: .25em;
  width: 12em;
}