{# Not used at the moment #}
{# {% set absoluteUrl %}{{ page.url | url | absoluteUrl(metadata.url) }}{% endset %}
{% set mentions = webmentions.children | webmentionsForUrl(absoluteUrl) %}
{% set mentionsSize = mentions | length %}
{% set reposts = webmentions.children | webmentionsForUrl(absoluteUrl, 'repost-of') %}
{% set repostsSize = reposts | length %}
{% set likes = webmentions.children | webmentionsForUrl( absoluteUrl, 'like-of') %}
{% set likesSize = likes | length %}
{% set replies = mentions | webmentionsForUrl(absoluteUrl, 'in-reply-to')  %}
{% set repliesSize = replies | length  %} #}

{% if repostsSize > 0 or likesSize >0 or mentionsSize > 0  or repliesSize > 0%}
<div class="webmentions" id="webmentions">
  <p class="L4">Webmentions</p>
 {% if repostsSize > 0 %}
  <div class="webmentions__facepile">
    <p {% if repostsSize > 11 or likesSize > 11 %} class="L4 webmentions__facepile__hedlg"{% endif %}>{{ repostsSize }} Reposts{% if repostsSize != 1 %}s{% endif %}</p>
    {% for webmention in reposts %}
     {% if webmention.url != "" %}
      <a class="h-card u-url link-u-exempt" href="{{ webmention.url }}" target="_blank" rel="noopener noreferrer">
      {% endif %}
      <img class="webmentions__face"{% if webmention.author.photo != "" %}src="{{ '/static/icons/webmention-avatar-default.svg' | url }}" data-src="{{ webmention.author.photo }}"{% else %}src="{{ '/static/icons/webmention-avatar-default.svg' | url }}"{% endif %}" alt="{{ webmention.author.name }}" />
      {% if webmention.url != "" %}
      </a>
      {% endif %}
    {% endfor %}
  </div>
  {% endif %}

  {% if likesSize > 0 %}
  <div class="webmentions__facepile">
    <p {% if repostsSize > 11 or likesSize > 11 %} class="L4 webmentions__facepile__hedlg"{% endif %}>{{ likesSize }} Like{% if likesSize != 1 %}s{% endif %}</p>
    {% for webmention in likes %}
      {% if webmention.url != "" %}
      <a class="h-card u-url link-u-exempt" href="{{ webmention.url }}" target="_blank" rel="noopener noreferrer">
      {% endif %}
      <img class="webmentions__face" {% if webmention.author.photo != "" %}src="{{ '/static/icons/webmention-avatar-default.svg' | url }}" data-src="{{ webmention.author.photo }}"{% else %}src="{{ '/static/icons/webmention-avatar-default.svg' | url }}"{% endif %}" alt="{{ webmention.author.name }}" />
      {% if webmention.url != ""-%}
      </a>
      {% endif %}
    {% endfor %}
  </div>
  {% endif %}

  {% if mentionsSize > 0 %}
      <div class="webmentions__facepile">
        <p {% if repostsSize > 11 or likesSize > 11 %} class="L4 webmentions__facepile__hedlg"{% endif %}>{{mentionsSize}} Mentions</p>
      {% for webmention in mentions | reverse | head(5) %}
        {% if webmention.url != "" %}
          <a class="h-card u-url link-u-exempt" href="{{ webmention.url }}" target="_blank" rel="noopener noreferrer">
          {% endif %}
            <img class="webmentions__face"{% if webmention.author.photo != "" %}src="{{ '/static/icons/webmention-avatar-default.svg' | url }}" data-src="{{ webmention.author.photo }}"{% else %}src="{{ '/static/icons/webmention-avatar-default.svg' | url }}"{% endif %}" alt="{{ webmention.author.name }}" />
      {% endfor %}
       {% if webmention.url != "" %}
         </a>
         {% endif %}
      
      {% if mentions.length > 5 %}
        <span>+{{ mentions.length - 5 }}</span>
      {% endif %}
    </div>

    {% if repliesSize > 0 %}
      <div class="webmentions__facepile">
        <p {% if repostsSize > 11 or likesSize > 11 %} class="L4 webmentions__facepile__hedlg"{% endif %}>{{mentionsSize}} Replies</p>
      {% for webmention in replies | reverse %}
        {% if webmention.url != "" %}
          <a class="h-card u-url link-u-exempt" href="{{ webmention.url }}" target="_blank" rel="noopener noreferrer">
          {% endif %}
            <img class="webmentions__face"{% if webmention.author.photo != "" %}src="{{ '/static/icons/webmention-avatar-default.svg' | url }}" data-src="{{ webmention.author.photo }}"{% else %}src="{{ '/static/icons/webmention-avatar-default.svg' | url }}"{% endif %}" alt="{{ webmention.author.name }}" />
      {% endfor %}
       {% if webmention.url != "" %}
         </a>
         {% endif %}
      
      {% if mentions.length > 5 %}
        <span>+{{ mentions.length - 5 }}</span>
      {% endif %}
    </div>

  {% endif %}

  {% endif %}
</div>

{% endif %}

<form action="https://webmention.io/danielavalero.com/webmention" method="post" class="form-webmention">
  <label for="form-webmention-source">Mention this post from your site by entering your URL below</label>
  <input class="blockCard" id="form-webmention-source" type="url" name="source" placeholder="https://yourSiteExampleUrl.com" required>
  <input type="hidden" name="target" value="https://danielavalero.com/web{{ page.url }}">
  <button type="submit" class="button">Send Webmention</button>
</form>


<small class="caption">These are <a href="https://indieweb.org/Webmention">webmentions</a> via the <a href="https://indieweb.org/">IndieWeb</a> and <a href="https://webmention.io/">webmention.io</a>.</small>
