:root {
  --dark: #424242;

  --color-white: #fff;
  --color-four: #F8F7F2;
  --color-warm: #fdfbf3;
  
  --color-black: #333333;
  /* https://pigment.shapefactory.co/?a=#80E6B&b=FAFFFF  #480E6B;*/
  /* --color-shadow-dark: #C21225; */
  /* --color-shadow: #DA2F43; */
  /* --color-shadow: #3E0E3C; */
  /* https://pigment.shapefactory.co/?d=1&s=1&a=2C0428&b=FEFEFF */
  --color-shadow-dark: #2C0428;
  --color-shadow: #511850;
  --color-shadow-negative: #AAAACA;
  --color-shadow-light: #F35267;
  --color-highlight: #f2f9f9;
  --color-shadow-08: #4e0f82;
  --color-shadow-lila-08: #f2c1ff;

  --color-border: var(--color-shadow);
  --color-background: var(--color-white);

  --color-bg-links-highlight: var(--color-shadow);
  --color-text-links-highlight: var(--color-highlight);
  --color-text-inline-links: var(--color-shadow-08);


  --color-bg-blockquote: var(--color-highlight);
  --color-text-blockquote: var(--color-black);
  --color-quote-sign: var(--color-shadow);

  --color-body-text: var(--color-black);
  --color-body-text-contrast: var(--color-highlight);

  --color-tagLink-text-color: var(--color-body-text-contrast);
  --color-tagLink-background: var(--color-shadow);
  --color-tagLink-border-hover: var(--color-black);

  --color-switch-background: var(--color-shadow);

 
  --color-blockCard-background-shadow-color: var(--color-warm);
  --color-blockCard-background-color: var(--color-highlight);

  --color-blockCard-boder-color: var(--color-black);
  --color-blockCard-text-color: var(--color-body-text);
}

[data-theme="dark"] {
  --color-border:var(--color-highlight);
  --color-background: var(--color-black);
  --color-body-text: var(--color-highlight);
  --color-body-text-contrast: var(--color-black);

  --color-links-highlight: var(--color-highlight);
  --color-body-text-bright: var(--color-highlight);

  --color-bg-links-highlight: var(--color-highlight);
  --color-text-links-highlight: var(--color-black);
  --color-text-inline-links: var(--color-shadow-lila-08);
  

  --color-bg-blockquote: var(--color-background);
  --color-text-blockquote: var(--color-highlight);
  --color-quote-sign: var(--color-highlight);
 
  --color-tagLink-text-color: var(--color-body-text-contrast);
  --color-tagLink-background: var(--color-highlight);
  --color-tagLink-border-hover: var(--color-shadow);
 
  --color-switch-background: var(--color-highlight);

  --color-blockCard-background-shadow-color: var(--color-background);
  --color-blockCard-background-color: var(--color-black);

  --color-blockCard-text-color: var(--color-dark);
  --color-blockCard-boder-color: var(--color-border)
}