/**
 * @license
 * MyFonts Webfont Build ID 3789424, 2019-07-24T13:58:59-0400
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: VeronaSerial by SoftMaker
 * URL: https://www.myfonts.com/fonts/softmaker/verona-serial/regular/
 * Copyright: Copyright (c) 2012 by SoftMaker Software GmbH and its licensors. All rights reserved.
 * Licensed pageviews: Unlimited
 * 
 * 
 * License: https://www.myfonts.com/viewlicense?type=web&buildid=3789424
 * 
 * © 2019 MyFonts Inc
*/

@font-face {
  font-family: 'SpaceGrotesk';
  font-display: swap;
  src: url('/static/fonts/SpaceGrotesk-Regular.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'SpaceGrotesk';
  font-display: fallback;
  src: url('/static/fonts/SpaceGrotesk-Light.woff2') format('woff2');
  font-weight: 300;
}

@font-face {
  font-family: 'SpaceGrotesk';
  font-display: fallback;
  src: url('/static/fonts/SpaceGrotesk-Medium.woff2') format('woff2');
  font-weight: 600;
}

@font-face {
  font-family: 'space_mono';
  font-display: fallback;
  src: url('/static/fonts/spacemono-regular-webfont.woff2') format('woff2'),
       url('/static/fonts/spacemono-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Wremena';
  src: url('/static/fonts/WremenaBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Wremena';
  src: url('/static/fonts/WremenaRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'miratrix';
  src: url('/static/fonts/miratrix-normal-webfont.woff2') format('woff2'),
       url('/static/fonts/miratrix-normal-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}