@custom-selector :--heading h1, h2, h3, h4, h5, h6;
@custom-selector :--heading-named .L1, .L2, .L3, .L4, .L5, .L6, .LX;
@custom-selector :--post-body1 .post p;
@custom-selector :--post-caption .post small;
@custom-selector :--post-headline .post h2, .post h3, .post h4, .post h5, .post h6;
@custom-selector :--post-h1 .post h1;
@custom-selector :--post-h2 .post h2;
@custom-selector :--post-h3 .post h3;
@custom-selector :--post-h4 .post h4;
@custom-selector :--display .display;
@custom-selector :--mono .mono;



:root {
  --fontSize: 16px;
  --sans-serif: 'SpaceGrotesk', sans-serif;
  --mono: 'space_mono', monospace;
  --display: 'miratrix', sans-serif;
  --headlines: var(--mono);
  --type-body: var(--mono);
  --type-post-body: var(--sans-serif);
}

body {
  color: var(--color-body-text);
  font-family: var(--type-body);
  font-size: var(--fontSize);
  line-height: 2;
  font-weight: 300;
}


a {
  color: var(--color-body-text);
}

:--heading:not(.display),
:--heading-named:not(.display) {
  font-family: var(--headlines);
}

:--heading,
:--heading-named {
  font-weight: 500;
  line-height: 1.4;
}


:--display {
  font-family: var(--display);
}

:--mono {
  font-family: var(--mono);
}

code {
  font-family: var(--mono);
}

.navigation_link {
  font-weight: 400;
  font-size: var(--fontSize);
  line-height: 1.5;
}

.body1,
:--post-body1 {
  margin-top: 0;
  font-size: 1rem;
  line-height: 1.5;
}

:--post-body1,
.post li {
  font-size: 19px;
}
.body2 {
  margin-top: 0;
  font-size: 0.875rem;
  line-height: 1.5rem;
}

.caption,
:--post-caption {
  font-size: 0.85rem;
  line-height: 1.4rem;
}

:--heading-named,
:--post-headline  {
  margin-bottom: 10px;
  margin-top: 5px;
  color: var(--color-body-text);
}
.L1, .LX {
  font-size: 28px;
  line-height: 1.4;
}


.L2,
:--post-h2 {
  font-size: 26px;
  line-height: 1.4;
}
.L3,
:--post-h3 {
  font-size: 23px; /*1.3em;*/
  line-height: 27px; /*1.4;*/
}
.L4,
:--post-h4 {
  font-size: 1em;
  line-height: 1.3;
}
.L5 {
  font-size: 0.8em;
  line-height: 1.3;
}

@media (--viewport-medium) {
  :--post-h1 {
    font-size: 3.1em;
  }

  .L1, .LX {
    font-size: 2.1em;
    line-height: 1.2;

    &.L6-m {
      font-size: 1.4em;
    }
  }
  .L2,
  :--post-h2 {
    font-size: 2.30em;
  }
  .L3,
  :--post-h3 {
    font-size: 2em;
    line-height: 31px;
  }
  .L3-smaller {
    font-size: 1.8em; 
    line-height: 31px;
  }
  .L4,
  :--post-h4 {
    font-size: 1.8em;
  }
  .L5 {
    font-size: 0.9em;
  }
  .L6 {
    font-size: 1.4em;
  }
}


@media (--viewport-big) {
  .L5 {
    font-size: 1.7em;
  }
}