@custom-media --viewport-small (max-width: 30rem);
@custom-media --viewport-tablet (min-width: 40rem);
@custom-media --viewport-medium (min-width: 50rem);
@custom-media --viewport-big (min-width: 60rem);
@custom-media --viewport-extra-big (min-width: 1200px);

