.about {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;

  @media (--viewport-medium) {
    margin-top: 20px;
    grid-template-columns: 40% 60%;
    grid-template-rows: auto;
  }

  h3 {
    font-family: var(--display);
  }
}


@media (--viewport-medium) {
  .about_image {
    grid-column: 1;
    grid-row: 1;
  }
  .about_content {
    grid-column: 2;
    grid-row: 1;
  }
}


.about_image img {
  border: var(--border-width-m) solid var(--color-border);
}

.about_content {
  padding-top: 35px;

  @media (--viewport-medium) {
    padding-left: 35px;
    padding-top: 17px;
    margin-top: -20px;
  }
}