.tagLink {
  font-family: var(--serif);
  display: inline-block;
  vertical-align: middle;
  letter-spacing: 1px;
  font-size: 12px;
  line-height: 2;
  font-weight: 500;
  padding: 0 .5em;
  height: 2.3em;
  color: var(--color-tagLink-text-color);
  border: 1px solid var(--color-tagLink-background);
  background-color: var(--color-tagLink-background);
  

  text-decoration: none;
  margin: 0 .5em .5em 0;

  &:focus,
  &:hover {
    border-color:  var(--color-tagLink-border-hover);
  }
  
  &:last-child {
    margin-right: 0;
  }
}
