<!doctype html>
<html {% if section %} data-current="{{ section }}" {% endif %} dir="ltr" lang="en">
{% include "components/head/head.njk" %}

<body class="section-{{ section }}">
  {% include "components/header/header.njk" %}
  {% if section !=='home'%}<div class="o-grid">{% endif %}
    <main id="maincontent" class="main">
      {{ layoutContent | safe }}
    </main>
  {% if section !=='home'%}</div>{% endif %}

    {% include "components/footer/footer.njk" %}


{% set jsinline %}
 {% include "assets/js/themeSwitch.js" %}
 {# {% include "assets/js/loadWebMentions.js" %} #}
{% endset %}
<script nonce="bmFuaS1pbmxpbmVqcw==">
  {{ jsinline | jsmin | safe }}
</script>
</body>

</html>