---
layout: layouts/base.njk
section: blog
permalink: /blog/index.html
---
<h1 class="L1 display">{{ title }}</h1>
{% set posts = collections.posts %}
{% include "components/blog/postsList.njk" %}
{% include "components/newsletter/newsletter.njk" %}