---
layout: layouts/base.njk
section: blog
---

<h1 class="L1 display">{{ title }}</h1>
<br />
<h2 class="L1 display">blog list / card</h2>
{% set posts = collections.digest | limit(2) %}
{% include "components/blog/postsList.njk" %}
<br />
<br />
<h2 class="L1 display">Blog post</h2>

<div style="display: flex; flex-direction: column;" class="section-post">
  <section class="postWrapper">
    <article class="post h-entry">

      {% include "components/blog/postHeading.njk" %}
      <div class="e-content">
        <h2 id="define%3A-burnout" tabindex="-1">Define: Burnout</h2><a class="header-anchor"
          href="#define%3A-burnout"><span class="sr-only">Permalink to “Define: Burnout”</span> <span
            aria-hidden="true"></span></a>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos blanditiis
          tenetur unde suscipit, quam beatae rerum inventore consectetur, neque doloribus, cupiditate numquam
          dignissimos
          laborum fugiat deleniti? Eum quasi quidem quibusdam.</p>
        <h3 id="what-causes-it" tabindex="-1">What causes it</h3><a class="header-anchor" href="#what-causes-it"><span
            class="sr-only">Permalink to “What causes it”</span> <span aria-hidden="true"></span></a>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos blanditiis
          tenetur unde suscipit, quam beatae rerum inventore consectetur, neque doloribus, cupiditate numquam
          dignissimos
          laborum fugiat deleniti? Eum quasi quidem quibusdam.</p>

      </div>
    </article>
  </section>

<h2 class="L1 display">Tag</h2>
  {% include "components/tag/tags.njk" %}
  <h2 class="L1 display">syndicationLink</h2>
  {% include "components/blog/syndicationLink.njk" %}
  <h2 class="L1 display">web mentions</h2>
  {% include "components/webmentions/webmentionlist.njk" %}
</div>

<br />
<br />
<h2 class="L1 display">Footer</h2>
{% include "components/navigation/backLink.njk" %}
{% include "components/newsletter/newsletter.njk" %}

