---
layout: layouts/base.njk
section: blog
---

<h1 class="L1 display">{{ title }}</h1>

{% set posts = collections.digest %}
{% include "components/blog/postsList.njk" %}

{% include "components/navigation/backLink.njk" %}
{% include "components/newsletter/newsletter.njk" %}