---
layout: layouts/base.njk
section: post
---
{% include "components/navigation/backLink.njk" %}

<section class="postWrapper">
  <article class="post h-entry {% if content | toc %} postWithToc {% endif %}">
    {% include "components/blog/postHeading.njk" %}

    {% include "components/toc/toc.njk" %}
    
    <div class="content e-content">
    {{ layoutContent | safe }}
    </div>
  </article>

  {% include "components/toc/toc.njk" %}
</section>

{% include "components/tag/tags.njk" %}
{% include "components/blog/syndicationLink.njk" %}
</section>

{% include "components/navigation/backLink.njk" %}
{% include "components/newsletter/newsletter.njk" %}

{% set jsinline %}
 {% include "assets/js/scrollSpy.js" %}
{% endset %}
<script nonce="bmFuaS1pbmxpbmVqcw==">
  {{ jsinline | jsmin | safe }}
</script>