<!doctype html>
<html {% if section %} data-current="{{ section }}" {% endif %} dir="ltr" lang="en">
{% include "components/head/head.njk" %}
<body class="{{section}}">
  {{ layoutContent | safe }}


{% set jsinline %}
 {% include "assets/js/themeSwitch.js" %}
{% endset %}
<script nonce="bmFuaS1pbmxpbmVqcw==">
  {{ jsinline | jsmin | safe }}
</script>
</body>
</html>