<fieldset aria-label="theme switcher" role="radiogroup">
  <div class="c-toggle">
    <label for="light">Light</label>
    <span class="c-toggle__wrapper">
      <input type="radio" name="theme" id="light" value="light" checked>
      <input type="radio" name="theme" id="dark" value="dark">
      <span aria-hidden="true" class="c-toggle__background"></span>
      <span aria-hidden="true" class="c-toggle__switcher"></span>
    </span>
    <label for="dark">Dark</label>
  </div>
</fieldset>