.c-toggle {
  --baseSize: 10px;
  display: flex;
  justify-content: stretch;

  label {
    font-size: calc(var(--baseSize) * 1.75);
    margin: 0 .5em 0;
    cursor: pointer;
  }

  input[type="radio"] {
    display: inline-block;
    margin-right: -2px;
    width: 50%;
    height: 100%;
    opacity: 0;
    position: relative;
    z-index: 1;
    cursor: pointer;

    &:focus ~ .c-toggle__switcher {
      border: var(--border-width-xs) solid var(--color-highlight);
      top: 0;
    }
  }
}

.c-toggle__wrapper {
  font-size: var(--baseSize);
  display: inline-flex;
  vertical-align: middle;
  width: 7em;
  height: 3.5em;
  border-radius: 3.5em;
  /* = height */
  border: 1px solid var(--color-shadow);
  position: relative;
}

.c-toggle__switcher {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 100%;
  width: 50%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--color-switch-background);
  transition: all 0.1s ease-out;
  z-index: 2;
}

.c-toggle__background {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  border-radius: 3.5em;
  background-color: var(--color-highlight);
  transition: all 0.1s ease-out;
}

#dark:checked~.c-toggle__background {
  background-color: var(--color-highlight);
}

#dark:checked ~.c-toggle__switcher {
  background-color: var(--color-shadow-negative);
  right: 0;
  left: 50%;
}

#dark:focus:checked  ~ .c-toggle__switcher {
  border: var(--border-width-xs) solid var(--color-shadow-dark);
}

/* support Windows High Contrast Mode. Credit: Adrian Roselli https://twitter.com/aardrian/status/1021372139990134785 */
@media screen and (-ms-high-contrast: active) {
  .c-toggle__switcher {
    background-color: windowText;
  }
}

fieldset {
  border: none;
}